<div class='col-sm-6 col-lg-4'>
  <div class="card">
    <%= link_to blog_book_path(book) do %>
      <div class="card-topper"><%= image_tag book.image.url(:thumb) %></div>
    <% end %>
    <div class="card-block">
    <h6 class="published-date pull-right"><%= book.author.name %></h6>
      <h4 class="card-title"><%= link_to book.name, blog_book_path(book) %></h4>
      <p><%= raw book.tags.map { |t| link_to t.name, root_path(category: t.name) }.join(', ') %></p>
      <h6 class="published-date"><%= book.display_day_published %></h6>
      <p class="card-text"><%= truncate_html(book.content, length: 130) %></p>
    </div>
  </div>
</div>
